<app-headline title="Tickets" [videoPath]="'Buchung/1237171_Abstract_Liquid_Backgrounds_1920x1080.mp4'"></app-headline>

<h4>Tour</h4>
<app-tour-selector [tours]="toursService.tours" [selectedTour]="tour" (selectedTourChanged)="selectedTourChanged($event)"></app-tour-selector>

<h4>Datum</h4>
<app-calendar [tourdates]="toursService.tourdates" (selectedTourterminChanged)="selectedTourterminChanged($event)"></app-calendar>

<h4>Sitzplatz</h4>
<h5 *ngIf="selectedTourtermin?.rocket">Rakete: {{selectedTourtermin?.rocket?.name}}</h5>
<app-seats [seats]="selectedTourtermin?.rocket?.sitzplaetze ?? []" (selectedSeatCahnged)="selectedSeatChanged()"></app-seats>

<h4>Gesamtpreis</h4>
<span class="cost">{{ totalCost }}</span>

<button (click)="bookTickets()">Jetzt buchen</button>

<img id="circle1" class="circle" src="../../../../assets/Kreiselemente/Kreise-04(Nils).svg" alt="Kreisgrafik">
<img id="circle2" class="circle" src="../../../../assets/Kreiselemente/Kreise-04(Nils).svg" alt="Kreisgrafik">