:host {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 10rem;
    overflow: hidden;
    position: relative;
}

h4 {
    margin-top: 6rem;
}

button {
  padding: 0.5rem 1.5rem;
  font-size: 1.5rem;
  transition: all 0.3s ease;
  background-color: transparent;
  border: 2px solid #27eefe;
  color: #27eefe;
  animation: pulse 2s infinite;
}

button:not(:disabled):hover {
  margin-top: -0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  background-color: #27eefe;
  color: black;
}

button:disabled {
  background-color: #1C4DA8;
  color: white; 
  border: 2px solid #1C4DA8; 
}

.payment-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-bottom: 7rem;
}

.payment {
  width: 9rem;
  height: 4rem;
  border-radius: 1rem;
  position: relative;
  display: flex;
  border: 4px solid white;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-sizing: border-box;
}

.payment:not(:last-of-type) {
  margin-right: 1rem;
}

.payment img {
  height: auto;
  width: 80%;
}

.payment .title {
  position: absolute;
  top: calc(100% + 1rem);
  left: 50%;
  transform: translateX(-50%);
}

.selectedPayment {
  border: 4px solid #ffbd43;
}

.circle {
  position: absolute;
  z-index: -1;
  width: 100rem;
  height: 100rem;
}

#circle1 {
  top: 40rem;
  left: 65%;
}

#circle2 {
  top: 80rem;
  right: 60%;
}