:host {
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

video {
    display:block;
    margin-right: auto;
    margin-left: auto;
    width: 75%;
}

h4 {
    margin-top: 4rem;
}