<div class="wrapper">
    <div class="title">
        <a href="/home">A</a>
    </div>
    <div class="links">
        <a routerLink="/mission" routerLinkActive="active">Mission</a>
        <a routerLink="/tours" routerLinkActive="active">Touren</a>
        <a routerLink="/rockets" routerLinkActive="active">Raketen</a>
        <a *ngIf="authService.loggedInUser == null" routerLink="/login" routerLinkActive="active">Login</a>
        <a *ngIf="authService.loggedInUser != null" routerLink="/profile" routerLinkActive="active">Profil</a>
    </div>
</div>
