<div class="container">
  <app-headline title="Raketen" [videoPath]="'Raketen/1601356_Backgrounds_Animal_Science_1920x1080.mp4'"></app-headline>

  <div class="row" *ngFor="let rakete of rocketService.rockets; let i = index">
    <div [ngClass]="{'left': isLeft(i), 'right': !isLeft(i)}">
      <div class="item-content">
        <div class="attribute">
          <h2>{{ rakete.name }}</h2>
        </div>
        <div class="attribute">Höhe: {{ rakete.hoehe | rocketInfo: RocketInfoType.HOEHE }}</div>
        <div class="attribute">Durchmesser: {{ rakete.durchmesser | rocketInfo: RocketInfoType.DURCHMESSER  }}</div>
        <div class="attribute">Schiffsvolumen: {{ rakete.schiffvolumen | rocketInfo: RocketInfoType.SCHIFFVOLUMEN }}</div>
        <div class="attribute">Trägervolumen: {{ rakete.traegervolumen | rocketInfo: RocketInfoType.TRAEGERVOLUMEN }}</div>
        <div class="attribute">Startnutzlastmasse: {{ rakete.startnutzlastmasse | rocketInfo: RocketInfoType.STARTNUTZLASTMASSE }}</div>
        <div class="attribute">Rückkehrnutzlastmasse: {{ rakete.rueckkehrnutzlastmasse | rocketInfo: RocketInfoType.RUECKKEHRNUTZLASTMASSE }}</div>
      </div>
    </div>
  </div>
  <img class="kreis1" src="../../../../assets/Kreiselemente/Kreise-02(Niclas).svg" alt="Kreisgrafik">
  <img class="kreis2" src="../../../../assets/Kreiselemente/Kreise-02(Niclas).svg" alt="Kreisgrafik">
  <img class="kreis3" src="../../../../assets/Kreiselemente/Kreise-02(Niclas).svg" alt="Kreisgrafik">
  <img class="bar" src="../../../../assets/Raketen/bar.svg" alt="Coole Leiste">
</div>