h2 {
  font-size: 25pt;
}

.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row {
  display: flex;
  width: 100%;
}

.left, .right {
  width: 50%;
  box-sizing: border-box;
  padding: 10px;
}

.left {
  text-align: right;
  padding-right: 5%;
}

.right {
  text-align: left;
  padding-left: 5%;
  margin-left: auto;
}

.item-content .attribute {
  margin-bottom: 30px;
}

.kreis1 {
  position: relative;
  top: -1440px;
  left: 50%;
  width: 1100px;
  height: auto;
  z-index: -1;
}

.kreis2 {
  position: relative;
  top: -1940px;
  left: calc(50% - 1250px);
  width: 1100px;
  height: auto;
}

.kreis3 {
  position: relative;
  top: -2340px;
  left: 50%;
  width: 1100px;
  height: auto;
}

.bar {
  position: relative;
  top: -4352px;
  left: calc(50% - 525px);
  width: 1007px;
  height: auto;
}


