.Touren{
    line-height: 1.4;
    overflow: hidden;
}
.Kreiscontainer{
    position: relative;
    width:100%;
    height:0vh;
}
.Kreis{
    position: absolute;
    width:75%;
    left: 50%;
    bottom: -80vh;
    z-index: -1;
}
.video1 {
    display: block;
    width: 100%;
    z-index: 1;
}
.video2{
    display:block;
    width: 95%;
    height:auto;
}
.Tourblock{
    padding: 0% 15% 5%;
    display: flex;
    flex-direction: column;
}
.Tourblock2{
    padding: 0% 15% 5%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}
.Textblock{
    width: 50%;
}

.Buttonblock {
    padding: 1% 0%;
    width: 50%;
    display: flex;
    justify-content: left;
}

button {
    padding: 1rem 3rem;
    font-size: 2vh;
    letter-spacing: 0.2vh;
    background: none; /* Kein Hintergrund */
    border: 2px solid #27eefe;
    color: rgb(255, 255, 255); /* Textfarbe */
    cursor: pointer; /* Zeiger beim Hover über dem Button */
}

button:hover {
    margin-top: -0.5vh;
    margin-bottom: 0.5vh;
    cursor: pointer;
    background-color: #27eefe; /* Hintergrundfarbe beim Hover */
    color: black; /* Textfarbe beim Hover */
}

