.countdown-container {
    padding: 20px;
    text-align: center;
    color: white;
  }
  
  .countdown-timer {
    font-size: 2em;
  }
  
  .countdown-container h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
  }
  
  @media (max-width: 768px) {
    .countdown-container {
      padding: 10px;
    }
  
    .countdown-timer {
      font-size: 1.5em;
    }
  
    .countdown-container h2 {
      font-size: 2em;
    }
  }
  
  @media (max-width: 480px) {
    .countdown-container {
      padding: 5px;
    }
  
    .countdown-timer {
      font-size: 1.2em;
    }
  
    .countdown-container h2 {
      font-size: 1.5em;
    }
  }
  