<video class="fullscreen-video" [autoplay]="true" [muted]="true" [loop]="true" #video (canplay)="video.play()">
  <source src="../../../../../assets/Mission/2395003_Space_Planet_Earth_1920x1080.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div class="container">
  <div>
    <h1>SpaceTrain</h1>
    <p>Entdecke das Universum mit uns.</p>
    <button (click)="gotoTickets()">Tickets</button>
  </div>
</div>

<div class="content">
  <h1>Mission</h1>
  <blockquote>
    "To confine our attention to terrestrial matters would be to limit the human spirit." - Stephen Hawking
  </blockquote>
</div>

<video width="100%" height="auto" autoplay muted loop>
  <source src="./assets/Mission/1108545_1080p_4k_2k_1280x720.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>

<div class="containercountdown">
  <app-countdown></app-countdown>
</div>

<div class="mission-text-container">
  <h2>ABOUT US!</h2>
  <p>Wir sind ein Team von Weltraumexperten, das sich leidenschaftlich dafür einsetzt, das Universum für alle zugänglich zu machen. Mit modernster Technologie und einem klaren Fokus auf Sicherheit bieten wir unvergessliche Weltraumabenteuer an, maßgeschneidert für Ihre Träume und Bedürfnisse. Von kurzen Ausflügen in den Orbit bis hin zu epischen interstellaren Expeditionen - bei SpaceTrain steht Ihnen die gesamte Galaxie offen. Bereit für den nächsten Schritt? Kontaktieren Sie uns noch heute und beginnen Sie Ihre Reise ins All!</p>
</div>

<video width="100%" height="auto" autoplay muted loop>
  <source src="./assets/Mission/Design%20ohne%20Titel.mp4" type="video/mp4">
  Your browser does not support the video tag.
</video>
