<div class="Touren">
    <video class="video1" src="../../../assets/1237170_Abstract_Liquid_Backgrounds_1280x720.mp4" autoplay loop></video>

    <h1>TOUREN</h1>

    <video class="video2" src="../../../assets/4638027_Rocket_Shuttle_Burst_1280x720.mp4" autoplay loop></video>

    <div class="Tourblock">
        <div class="Textblock">
            <div>   
                <h3>Outer Space Discovery</h3>
            </div>
            <div>
                <p>lorem ipsum dolor sit amet, consectetur adipiscing elit. sed vitae semper leo. proin convallis risus ac mauris ultricies, vitae fermentum elit placerat. nulla at sem quis neque iaculis maximus. duis ut ante sit amet sem pharetra hendrerit. pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. integer eget elit id velit lacinia eleifend. vivamus auctor leo ut arcu congue, quis dapibus dolor consectetur. nulla facilisi. integer et aliquam orci. phasellus feugiat, odio nec tempor consequat, sem libero eleifend odio, non suscipit ligula tortor id metus. duis malesuada, odio a vehicula lobortis, sapien nulla condimentum ex, a gravida nisi nisi eget felis. sed scelerisque placerat magna nec lobortis.</p>
            </div>
        </div>
        <div class="Buttonblock">
            <button type="button">Click Me!</button>
        </div>
    </div>
</div>