:host {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10rem;
    overflow: hidden;
    position: relative;
}

input {
    width: 20rem;
    border: 1px solid rgb(194, 194, 194);
    border-radius: 4px;
    padding: 0.8rem;
    font-size: 1rem;
    margin: 0.75rem 0;
}

label {
    color: rgb(194, 194, 194);
    margin-bottom: 0.5rem;
}

.invalid {
    color: rgb(226, 67, 197);
    border-color: rgb(226, 67, 197);
}
.invalid:focus {
    outline: none !important;
    border-color: rgb(226, 67, 197) !important;
}

.invalid::placeholder {
    color: rgb(226, 67, 207);
}

input:focus {
    outline: none;
}

input::placeholder {
    font-family: new-science;
}

.input-wrapper {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

button.login {
    width: 20rem;
    height: 3rem;
    border: 2px solid #27eefe;
    border-radius: 4px;
    color: #27eefe;
    font-size: 1.5rem;
    background-color: transparent;
    cursor: pointer;
}

button.login:not(:disabled):active {
    margin-top: 2px;
    margin-bottom: -2px;
    filter: brightness(0.7);
    

}

button.login:disabled {
    font-family: new-science;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem; 
    background-color: #27eefe;;
    color: #000000;
    border: 2px solid #27eefe;; 
    cursor: not-allowed; 
}

button.login:not(:disabled):hover {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
    cursor: pointer;
    background-color: #27eefe;
    color: black;
}

.secondary {
    margin: 2rem 0;
    color: #27eefe;
    width: 20rem;
    text-align: center;
}

.secondary:hover {
    text-decoration: underline;
    cursor: pointer;
}

.circle {
    position: absolute;
    z-index: -1;
    width: 100rem;
    height: 100rem;
}

#circle1 {
    top: calc(100vh - 40rem);
    left: 55%;
}

#circle2 {
    top: calc(100vh + 10rem);
    right: 60%;
}

.error {
    color: rgb(226, 67, 197);
    width: 20rem;
}